*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    background-color: lightgrey;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: block;
    margin-top: 0vh;
    margin-bottom: 0vh;
    height: 60px;
    background-color: #869e7b;
    color: white;
  }
  
  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 15px;
  }

  #timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .timer-text {
    padding-left: 10px;
  }

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-color: rgb(118, 176, 118);
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 15px 2px;
}

.BTNgrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;;
}

.BTN {
    background-color: lightgrey;
    border: 1px solid;
    border-color: darkgrey;
    border-radius: 5px;
    padding: 5px 10px;
}

.BTN:hover {
    border-color: darkolivegreen;
}

.BTN.correct {
    background-color: lightgreen;
}

.BTN.wrong {
    background-color: darkgray;
}

.startBTN, .nextBTN {
    font-size: 1.5rem;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
  }

input {
    display: flex;
    justify-content: center;
    background-color: rgb(212, 232, 179);
    border-radius: 2px;
    border-width: 0;
    font-size: 1em;
    height: 40px;
    line-height: 20px;
    margin: 0;
    max-width: 100%;
    padding: 8px 8px 8px 8px;
    transition-delay: 0s, 0s;
    transition-duration: 0.2s, 0.2s;
    transition-property: background-color, color;
    transition-timing-function: ease, ease;
    vertical-align: middle;
    width: 90%;
  }

.hide {
    display: none;
}